/*logo: Font-Raleway, Weight-700; Font-Roboto Weight-700,500,400*/
/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; #212121 */

/*body {
  background-color: E5E5E5;
  font-family: Roboto, sans-serif;
  font-style: normal;
}*/

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-background: #ffffff;
  --second-background: #2f303a;
  --our_team-background: #f5f4fa;
  --main-color: #ffffff;
  --tel_link-color: #757575;
  --nav_link-color: #212121;
  --heading-color: #212121;
  --logo-link: #000000;
  --mail_link-tel_footer: rgba(255, 255, 255, 0.6);
  --section-pt: 94px;
  --section-pb: 94px;
  --margin-bottom-studia: 10px;
}

body {
  font-family: var(--main-font);
}
/* ul {
  list-style: none;
}*/
/*=====COMPONENTS =========*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
  /*margin-left: auto;
  margin-right: auto; */

  /* outline: 2px solid tomato; */
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.list {
  list-style: none;
}

/* a {
  text-decoration: none;
}*/
.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}
/*====== END COMPONENTS======/
/*======HEADER=======*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header .container {
  display: flex;
  align-items: center;
}
.page-header {
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.logo-link {
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--logo-link);
}
.logo-web {
  color: var(--accent-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  /*line-height/font-size;16/14=1.14*/
  letter-spacing: 0.02em;
  cursor: pointer;

  color: var(--nav_link-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.activ-link {
  color: var(--accent-color);
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  /*line-height/font-size;16/14=1.14*/
  letter-spacing: 0.02em;
  cursor: pointer;

  color: var(--tel_link-color);
}
.mail-link {
  color: var(--tel_link-color);
  margin-right: 50px;
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
.tel-link {
  color: var(--tel_link-color);
  margin-left: auto;
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
.contact-list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* Button */
.modal-btn {
  padding: 10px 32px;
  display: block;
  margin: auto;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;

  color: var(--main-color);
  background: var(--accent-color);
}
/*===== END COMPONENTS ====*/
/*======= HERRO ========*/
.herro {
  color: var(--main-background);
  background: var(--second-background);
  overflow: auto;
  padding: 200px;
}
.herro-title {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 40px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-color);
}

/*===== END HERRO ====*/
/* ==== ADVATAGE === */

.about-advantage {
  padding-top: 47px;
  padding-bottom: 47px;
  /* 94/2=47 */
  /*text-align: center;*/
}
.list-about-advantage {
  display: flex;
  /*align-items: center;*/
  /*justify-content: space-between;*/
  /*flex-wrap: wrap;*/

  margin-left: -30px;
  margin-right: -30px;
}
.advantage {
  min-width: 270px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  background: var(--main-background);
}

.topic {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--heading-color);

  margin-bottom: var(--margin-bottom-studia);
}
.content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--tel_link-color);
}

/*.wrapper-advantage {
  display: flex;
  align-items: center;
}*/

/* ==== END ADVATAGE === */
/*==== ABOUT =========*/

.about-us {
  text-align: center;
}
.list-about-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;

  display: flex;
  align-items: center;
}

.about {
  padding-top: 47px;
  padding-bottom: 94px;
  text-align: center;
}

.accupancy {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--heading-color);

  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/*==== END ABOUT =========*/

/*======= OUR TEAM ========*/
.our-team-title {
  text-align: center;
  padding-bottom: 50px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  /* justify-content: space-between; */
}

.team-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.our_team {
  background: var(--our_team-background);
  padding-top: 94px;
  padding-bottom: 94px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;

  color: var(--heading-color);

  margin-bottom: 10px;
}
.occupation {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;

  color: var(--tel_link-color);
}
.team-list-content-wrapper {
  padding-top: 30px;
  text-align: center;
}

/*======= END OUR TEAM ========*/
/*===== FOOTER =======*/
.footer {
  background: var(--second-background);
}
.logo-link-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--main-color);

  /*padding-top: 60px;
  padding-bottom: 20px;*/
}
.logo-wrapper {
  padding-top: 60px;
  padding-bottom: 20px;
}
.list-contacts {
  padding-top: 20px;
  padding-bottom: 60px;
}
.contacts-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--main-color);
}
.address-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-color);
}
.mail-link .tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--mail_link-tel-color);
}
/*===== END FOOTER ======*/
/*====== PORTFOLIO ========*/
/*Portfolio button*/

.list-btn-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-top: -8px;
  text-align: center;

  justify-content: center;
  /* raspologaet elementi på centry */

  padding-top: 98px;
  margin-bottom: 30px;
  align-items: center;
}

.portfolio-btn {
  flex-basis: calc(100% / 5 - 8px);
  margin-left: 8px;
  margin-top: 8px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  /* justify-content: space-between; */
}

.portfolio-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio {
  background: var(--main-background);
}

.portfolio-btn {
  display: inline-block;
  text-align: center;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;

  color: var(--nav_link-color);
  background: var(--our_team-background);

  display: flex;
  justify-content: center;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--our_team-background);
  background-color: var(--accent-color);
}
/*Portfolio items*/

.img-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--heading-color);
}
.img-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--tel_link-color);
}
.portfolio-list-content-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*====== END PORTFOLIO ========*/
